@import '../../../main-styles.scss';


.layout-box {
    display: flex;
    flex-direction: column;
    height: 100%;

    .page-content {
        flex-grow: 1;
        min-height: 0;
    }

    .icon {
        border-radius: 50px;
        padding: 25px;

        transition: background-color 0.12s ease-out;
        cursor: pointer;

        &:hover {
            background: rgba(black, 0.1);
        }

        .material-icons {
            font-size: 30px;
            color: white;
        }
    }

    .fullwidth {
        flex-grow: 1;
    }
}


.top-bar {
    display: flex;
    min-height: 68px;
    width: 100%;

    background: linear-gradient(to right, $blue, $turquoise);

    // Horizontally and vertically center the children elements
    justify-content: center;
    align-items: center;
    
    h1 {
        font-size: 24px;
        color: white;
    }
}